@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }

   .about {
      padding: 2px;
    }

    .about-flex{

      display: flex;
      flex-wrap: wrap-reverse;

    }

    .introduction  {
      height: 200ch;
      display: flex;
      flex-direction: column;
      /* background-color: rgb(48, 237, 237); */
      
      
      
    }

    .introduction h1 {

      margin: 0;
      flex-shrink: 0;
      font-size: 2rem;
      margin: 1px 0 20px 0;
    }

    .introduction .quick-intro {

      line-height: 1.7;

    }
    .about .about-me-section-div1
    {
      display: none;
    }

    .mobile-icons
    {
      height: 30vh;
      width: auto;
      display: flex;
      margin-left: 4ch;
      flex-direction: row;
      gap: 2ch;
      /* border: 2px solid rgb(255, 180, 42); */
      font-size: 3.5ch;

    }

    .fa-linkedin {
      background: #007bb5;
      height: 40px;
      width: 40px;
      color: white;
      border: 50%;
    }
     
    #mobile-scroll{

      font-size: 1rem;

    }

  }

  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #icon-nav {
      display: flex;
       
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 1200px){
  .front-div
{ 
  height: 400px;
  width:auto;
  display: flex;
   
  background-repeat: no-repeat;
  background-image: url(./assets/WhatsApp\ Video\ 2024-06-02\ at\ 15.35.15_64ddd603.mp4);
  background-size: contain;
  justify-content: center;
  align-items: center;
}
  }

  @media screen and (max-width: 1200px) {
   .navigation , .welcome-message
   {
    display: none;
   }

   .hero-section
   {
    height: 480px;
    width: 100%;
    display: flex;
   }


   .logo {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin-right: 0ch;
    font-size: 2rem;
   }

  }

  @media screen and (max-width: 1200px){

    .mobile-intro
    {
      display: inline;
    }

    .desk-intro
    {
      display: none;
    }

    .hello-welcome
    {
       display: inline-flexbox;
       margin-top: 4ch;
       margin-left: 2ch;
       margin-bottom: 4ch;
    }


    .profile-image
    {
      display: flex;
      flex-direction: column;

    }

    .cool-scene
    {
      height: 300px;
      width:  300px;
      margin-left:2rem;
      margin-top: 30rem;
      display:flex;
      position:relative;
      margin-top: 0rem;
      background-image: url(realHardwork/360_F_570721293_DwrLDtL6Sa5g2Q0XFswR1gX0DexDCD9q.jpg);
      background-size: contain;
      background-repeat: no-repeat;
       background-color: #123456;
    
    
       border-radius: 50%;

      
    }


    .pic-container{

      display: flex ;
      height: 189px;
      width: 189 px;
      border-radius: 50%;
      background-image: url(./assets/develop-web.gif);
      background-size: cover;
      
      margin-top: 32px;
      margin-left: 4ch;
      margin-bottom: 32px;

    }
   

  }

  @media screen and (max-width: 1200px){
    .sec-text1
{
  align-self: center;
  text-align: center;
  margin-left: 65px;
  font-size: 20px;
  color: #555555 ;
}


#hii
{
  color:black;
  align-self: center;
  text-align: center;
  margin-left: 35px;
}

#tech-stack
{
  align-self: center;
  text-align: center;
  margin-left: 50px;
  font-size: 20px;
  color: #555555 ;
}

#name{

  margin-left: 125px;

}

  
  }

  @media screen and (max-width: 1200px){
  
  .mcool-scene
  {
    height: 250px;
    width: 100%;
    background-image: url(realHardwork/mobile-cool-scene.png);
    background-size: contain;
  }
  }

  @media screen and (max-width: 1200px){
  
    section h1
    {
     color: red;
     font-size: 2rem;
     text-underline-offset: 1.2rem;
     text-decoration-line: underline;
     margin-bottom: 0rem;
   
    }
    section .introduction
    {
     height: 70vh;
     width: 100%;
     display: flex;
     margin-left: 0rem;
      border: 2px solid black;
   }
  

   #plang{

    font-size: 2ch;
  }
  }

  @media screen and (max-width: 1200px){
  
#skills-and-cert {

  display:none;
}

#mobile-skills {
  display: flex;
  justify-content: center;
}

#cert{
  display: flex;
  justify-content: center;
}

    section .flex-exp
{
  display: inline-flex;
  height: fit-content;
  margin-left: 0ch;
  margin-top: 6ch;
  justify-content: center;
  align-self: auto;
  flex-wrap: wrap;
  gap: 10vh;
  width: auto;
  border: 2px solid black;

}


 
 


section .message-box
{
  height: fit-content;
  width: auto;
  border: 2px solid black;
  display: flexx

}
  
  }





/* SKILLS ICONS AND CERTIFICATES */

@media screen and (max-width: 1200px){
.skills-and-cert{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
 .skills-and-cert h1 {

  margin-bottom: 2px;

}

#plang {
  font-size: 15px;
}

#fim-and-lib {
  font-size: 15px;
}

.lang-and-tool{

  display: flex;
  flex-direction:column;

   
   

}


.skillsicon{

  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 30ch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
  margin-top: 4ch;


}
.skillsicon a {
  flex: 1 1 30%; /* Each icon will take 30% of the row width, adjust as needed */
  text-align: center;

  height: 40px;
  width: 40px;

  margin-bottom: 5ch;
}


.library-and-framework {
  
  display: flex;
  flex-direction: row;
  margin-top: 5ch;
}

.library-and-framework a {

  flex: 1 1 30%;
}


.proj-container
{
  display: flex;
  background-color: #fff;
  gap: 4ch;

  flex-direction: column;
  margin-top: 5ch;

}

  .projects img 
  {
    height: 20rem;
    width: 20rem;
    margin-top: 5ch;
    margin-left: 5ch;
  }

  .footer
  {
    display: flex;
    justify-content: center;
    background:linear-gradient(270deg,#ff994f,#fa6d86);
  }

.contact-container
{
  margin-left: 2ch;
}

  .footer h1 
  {
    font-size: 2rem;
  }

}

  @media screen and (max-width: 1200px)
  {
    .front-layout{
      display: none;
    }

    .message-box {
      width: 100%; /* set the width of the message box to 100% */
    }
    
    .textarea {
      width: 100%; /* set the width of the textarea to 100% */
      box-sizing: border-box; /* include padding and border in the width calculation */
      resize: vertical; /* allow the textarea to be resized vertically only */
    }


  }


  