@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
  }

  body
  {
    font-family:"Poppins",sans-serif;
    width: auto;
  }

  html
  {
    scroll-behavior: smooth;
  }


  p {
    color: rgb(85, 85, 85);
  }


a,
.btn {
  transition: all 300ms ease;
}


/* DESKTOP NAV */

.navigation
{
  display: flex;
  width: fit-content;
  
}


.profile
{
  display: flex;
  height: 200px;
  border-radius: 50%;
 }




nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
    gap: 4rem;
    list-style: none;
    font-size: 1.5rem;
  }
  
  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }
  
  a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }
  
  .logo {
    display: flex;
    font-size: 2rem;
    margin-right: 25ch;
  }
  
  .logo:hover {
    cursor: default;
  }
/* ICON-IMAGE MENU */

#icon-nav
{
    display: none;
}
.icon-menu {
    position: relative;
    display: inline-block;
  }
  
  .icon-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .icon-image span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
  }
  
  .icon-menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  
  .icon-menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .icon-menu-links li {
    list-style: none;
  }
  
  .icon-menu-links.open {
    max-height: 300px;
  }
  /* creaing a icon self */
  .icon-image.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .icon-image.open span:nth-child(2) {
    opacity: 0;
  }
  
  .icon-image.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .icon-image span:first-child {
    transform: none;
  }
  
  .icon-image span:first-child {
    opacity: 1;
  }
  
  .icon-image span:first-child {
    transform: none;
  }


  /*      */

  .front-div
  { 
    height: 500px;
    width:auto;
    display: flex;
     
     
    background-size: contain;
  }

  .welcome-message
  {
    display: flex;
    height: 200px;
    width: 60%;
    margin-left: 20%;
    background-image: url(./assets/welcome-speech-bubble-banners-posters-speech-bubbles-with-welcome-text-geometric-style-with-welcome-message-for-banner-poster-speech-bubble-illustration-vector.jpg);
    background-size: contain;
  }

  .welcome-message p{

    font-size: large;
  }



 .summary
 {
  font-weight: 900;
 }


 .pic_container{

  display: flex ;
  height: 100px;
  width: fit-content;
  background-image: url(./image.jpg);
  background-color: red;


}


 section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0;
  box-sizing: border-box;
  min-height: fit-content;
}

 
.sec-text1
{
  align-self: center;
  text-align: center;
  margin-left: 65px;
  font-size: 20px;
  color: #555555 ;
}

 .hero-section
 {
   width: fit-content;
  display: none;
  flex-direction: row;
  
  justify-content:flex-start;

 }

 
 #hii
 {
   color:black;
   align-self: center;
   text-align: center;
   margin-left: 35px;
 }
 
 #tech-stack
 {
   align-self: center;
   text-align: center;
   margin-left: 50px;
   font-size: 20px;
   color: #555555 ;
 }
 
 #name{
 
   margin-left: 125px;
 
 }

 .mobile-intro
 {
   display: none;
 }


 .hello-welcome
 {
  display: inline-block;


 }


 .desk-intro
 {
  display: flex;
  position: absolute;
  left: 25rem;
  width: ;

  
  font-size: 1.5rem;
  /* border: 1px solid black; */
  margin-bottom: 20rem;

  flex-direction: column;
  justify-content: flex-start;


  flex-direction: wrap;



 }

 .front-layout
 {
  height: 500px;
  width: 300px;

  display: flexbox;
  justify-content: center;
  background-color: green;


 }


 .cool-scene
 {
  height: 400px;
  width:  400px;
  margin-left:24em;

  display: flex;
  position:relative;
  margin-top: 0rem;
  background-image: url(realHardwork/360_F_570721293_DwrLDtL6Sa5g2Q0XFswR1gX0DexDCD9q.jpg);
  background-size: contain;
  background-repeat: no-repeat;
   background-color: #123456;


   border-radius: 50%;

 }

 .mcool-scene
 {
  display: flex;
  height: 100px;
  width: 100%;
 }

 section h1
 {
  color: red;
  font-size: 2rem;
  text-underline-offset: 1.2rem;
  text-decoration-line: underline;
  margin-bottom: 3rem;

 }

 .about
 {
  display: flexbox;
  margin-right: 0px;
  margin-top: 15ch;
 }

section .about-flex
{
  display: flex;
}

section .about-me-section-div1
{
  height: 30vh;
  width: 10vh;
  display: inline-block;
  border: 2px solid rgb(255, 180, 42);
}


.introduction
 {
  height
  width: 120vh;
  display: inline-block;
  margin-left: 20rem;
  border: 2px solid black;
}

.about .name-in-about {
  color: #123456;
}

.introduction .quick-intro {

  line-height: 2.5;
}

section .cert1,.cert2,.cert3,.cert4
{
  height: 20vh;
  width: 40vh;
  border: 2px solid black;


}


section .experience
{
  display: flex;
  flex-direction: row;
   
  left: 20px;
}

section .flex-exp
{
  display: inline-flex;
  height: fit-content;
  margin-left: 35ch;
  justify-content: center;
  align-self: auto;
  flex-wrap: wrap;
  gap: 20vh;
  width: auto;
  border: 2px solid black;

}


section .pDiv0
{
  display: inline-flex;
  height: fit-content;
  margin-left: 0ch;
  justify-content: center;
  align-self: auto;
  flex-wrap: wrap;
  gap: 20vh;
  width: auto;
  border: 2px solid black;

}

section .pDiv1,.pDiv2,.pDiv3
{
  height: 20vh;
  width: 20vh;
  border: 2px solid black;
   


}


section .message-box
{
  height: 80vh;
  width: 100vh;
  border: 2px solid black;
  display: flexx

}

#text-box
{
  height: 50vh;
  width: 70vh;
  ruby-span: attr(jx);

}


#footer
{
  background-color: rgb(216, 124, 101);
}

/* TYPE WRITER EFFECT */
  

.message-box {
  width: 100%; /* set the width of the message box to 100% */
}

.textarea {
  width: 100%; /* set the width of the textarea to 100% */
  box-sizing: border-box; /* include padding and border in the width calculation */
  resize: vertical; /* allow the textarea to be resized vertically only */
}