@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
  }

  body
  {
    font-family:"Poppins",sans-serif;
    width: auto;
  }

  html
  {
    scroll-behavior: smooth;
  }


  p {
    color: rgb(85, 85, 85);
  }


a,
.btn {
  transition: all 300ms ease;
}


/* DESKTOP NAV */

#desktop-nav {

  position: fixed;
  top: 0;
  width: 100%;
  height: 60px; /* Adjust this to match your navbar's height */
  background-color: #fff; /* Example background color */
  z-index: 1000; /* Ensure it's on top of other elements */

}


.navigation
{
  display: flex;
  width: fit-content;
  
}


.profile
{
  display: flex;
  height: 200px;
  border-radius: 50%;
 }




nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
    gap: 4rem;
    list-style: none;
    font-size: 1.5rem;
  }
  
  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }
  
  a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }
  
  .logo {
    display: flex;
    font-size: 2rem;
    margin-right: 25ch;
  }
  
  #top-of-web :hover{
    text-decoration: none;
    text-decoration-color: none;
    color: black;
  }

  .logo a :hover {
    cursor: default;
    text-underline-offset: none;
  }
/* ICON-IMAGE MENU */

#icon-nav
{
    display: none;
}
.icon-menu {
    position: relative;
    display: inline-block;
  }
  
  .icon-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .icon-image span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
  }
  
  .icon-menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  
  .icon-menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .icon-menu-links li {
    list-style: none;
  }
  
  .icon-menu-links.open {
    max-height: 300px;
  }
  /* creaing a icon self */
  .icon-image.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .icon-image.open span:nth-child(2) {
    opacity: 0;
  }
  
  .icon-image.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .icon-image span:first-child {
    transform: none;
  }
  
  .icon-image span:first-child {
    opacity: 1;
  }
  
  .icon-image span:first-child {
    transform: none;
  }


  /*      */

  .front-div
  { 
    height: 500px;
    width:auto;
    display: flex;
     
     
    background-size: contain;
  }

  .welcome-message
  {
    display: flex;
    height: 200px;
    width: 60%;
    margin-left: 20%;
    background-image: url(./assets/welcome-speech-bubble-banners-posters-speech-bubbles-with-welcome-text-geometric-style-with-welcome-message-for-banner-poster-speech-bubble-illustration-vector.jpg);
    background-size: contain;
  }

  .welcome-message p{

    font-size: large;
  }



 .summary
 {
  font-weight: 900;
 }


 .pic_container{

  display: flex ;
  height: 100px;
  width: fit-content;
  background-image: url(./image.jpg);
  background-color: red;


}


 section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0;
  box-sizing: border-box;
  min-height: fit-content;
}

 
.sec-text1
{
  align-self: center;
  text-align: center;
  margin-left: 65px;
  font-size: 20px;
  color: #555555 ;
}

 .hero-section
 {
   width: fit-content;
  display: none;
  flex-direction: row;
  
  justify-content:flex-start;

 }

 
 #hii
 {
   color:black;
   align-self: center;
   text-align: center;
   margin-left: 35px;
 }
 
 #tech-stack
 {
   align-self: center;
   text-align: center;
   margin-left: 50px;
   font-size: 20px;
   color: #555555 ;
 }
 
 #name{
 
   margin-left: 125px;
 
 }

 .mobile-intro
 {
   display: none;
 }


 .hello-welcome
 {
  display: inline-block;


 }


 .desk-intro
 {
  display: flex;
  position: absolute;
  left: 25rem;
  width: ;

  
  font-size: 1.5rem;
  /* border: 1px solid black; */
  margin-bottom: 20rem;

  flex-direction: column;
  justify-content: flex-start;


  flex-direction: wrap;



 }

 .front-layout
 {
  height: 500px;
  width: 300px;
  border: 1px dashed black;
  display: flexbox;
  justify-content: center;
  background-color: #fff;


 }


 .cool-scene
 {
  height: 400px;
  width:  400px;
  margin-left:24em;

  display: flex;
  position:relative;
  margin-top: 0rem;
  background-image: url(realHardwork/360_F_570721293_DwrLDtL6Sa5g2Q0XFswR1gX0DexDCD9q.jpg);
  background-size: contain;
  background-repeat: no-repeat;
   background-color: #123456;


   border-radius: 50%;

 }

 .mcool-scene
 {
  display: flex;
  height: 100px;
  width: 100%;
 }

 section h1
 {
  color: hsl(0, 100%, 50%);
  font-size: 2rem;
  text-underline-offset: 1.2rem;
  text-decoration-line: underline;
  margin-bottom: 0rem;

 }

   
 .about
 {
  display: flexbox;
  margin-right: 0px;
  
 }

section .about-flex
{
  display: flex;
  margin-top: 10ch;
  gap: 12ch;
}

.mobile-icons{
  display:none;
}
section .about-me-section-div1
{
  height: 30vh;
  width: 10vh;
  display: flex;
  margin-left: 2.5ch;
  flex-direction: column;
  gap: 2ch;
  /* border: 2px solid rgb(255, 180, 42); */
  font-size: 3.5ch;
  
}

.icon-size {
  font-size: 10ch; /* Adjust the size as needed */
}

.fa:hover {
  opacity: 0.7;
}

/* .fa-linkedin {
  background: #007bb5;
  height: 40px;
  width: 40px;
  color: white;
  border: 50%;
} */

#linkedin  {
  /* background-color: #007bb5; */
  align-items: center;
}


.fa-twitter {
  background: white;
  color: black;
}
#about {
  scroll-margin-top: 60px; /* Adjust this to match your navbar's height */
  text-align: center;
  text-decoration: none;
  
}


.span-intro{

  display: block; /* Makes the span behave like a block element */
  text-align: center; /* Centers the text within the block */
  margin-bottom: 2px; /* Adjust this value as needed */
  text-decoration-line: underline;
  text-underline-offset: 5px; 
  font-size: small;
}




.introduction
 {
  height:;
  width:120vh;
  display: inline-block;
  margin-left:18rem;
  /* border: 2px solid black; */
}

.first-word {
  font-size: 2em; /* Adjust as needed to match the size of an h1 */
  font-weight: bold; /* Bold for heading style */
  color: black; /* You can customize this to match your theme */
  margin-right: 5px; /* Small space after the heading-style word */
  display: inline; /* Ensure it stays inline with the rest of the text */
  text-decoration:none; /* Optional: Underline the heading-like word */
  vertical-align: baseline;
  line-height: 0;
}

.introduction .quick-intro {
  display: inline-block;
  vertical-align: top;
  line-height: 2.5;
}


#plang{

  font-size: 2.3ch;
  
}

#fim-and-lib {

  font-size: 2.3ch;

}

/* SKILLS ICONS AND CERTIFICATES */

 .skills-and-cert{

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.experience #skills-and-cert
{
  margin-bottom: 2.5ch; 
  scroll-margin-top: 80px; 
  text-align: center;
}


.lang-and-tool{

  display: flex;
  flex-direction:column;
  width: fit-content;

   
   

}


.skillsicon{

  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 30ch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
  margin: 4ch;


}
.skillsicon a {
  flex: 1 1 30%; /* Each icon will take 30% of the row width, adjust as needed */
  text-align: center;
}


.library-and-framework {
  
  display: flex;
  flex-direction: row;
  margin-top: 5ch;
}

.library-and-framework a {

  flex: 1 1 30%;
}
section .cert1,.cert2,.cert3,.cert4
{
  height: 20vh;
  width: 40vh;
  border: 2px solid black;


}


.flex-exp .cert1 {
  background-image: url(realHardwork/ai-for-everyone.jpeg);
  background-color: #123456;

  background-size: cover;

  height: 35vh;
  width: 50vh;
}

.flex-exp .cert2 {
  background-image: url(realHardwork/CodeChefBadge\ \(1\).png);
  background-color: #123456;

  background-size: cover;

  height: 30vh;
  width: 50vh;
}

.flex-exp .cert1 {
  background-image: url(realHardwork/ai-for-everyone.jpeg);
  background-color: #123456;

  background-size: cover;

  height: 30vh;
  width: 50vh;
}

.flex-exp .cert3 {
  background-image: url(realHardwork/Screenshot_15-8-2024_145438_skills.yourlearning.ibm.com.jpeg);
  background-color: #123456;

  background-size: cover;

  height: 30vh;
  width: 50vh;
}
 
.flex-exp .cert4 {
  background-image: url(realHardwork/postman.api.png);
  background-color: #fff;

  background-size: contain;

  height: 30vh;
  width: 30vh;
}




section .experience
{
  display: flex;
  flex-direction: row;
   
   
}

#mobile-skills , #cert {
  display: none;
}

 .flex-exp
{
  display: inline-flex;
  height: fit-content;
  margin-left: 10px;
  justify-content: center;
  align-self: auto;
  flex-wrap: wrap;
  gap: 5em;
  width: auto;
  border: 2px solid black;

}

.proj-container
{
  display: flex;
  background-color: #fff;
  justify-content: center;
  flex-direction: row;
  gap: 20rem;

  margin-top: 14ch;

}

 

.projects img 
{
  height: 20rem;


}

.projects h1 
{
  text-align: center;
  scroll-margin-top: 60px;
}


 .footer
 {
  background-color: #123456;
  text-align: center;
 }

 /* CONTACTS */

 .contact-container
 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20ch;

 }

 .contact-left 
 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
 }


 .contact-title
 {
  font-weight: 600;
  color: red;
  font-size: 40px;
  margin-bottom: 5px;
  text-align: center;

 }

 .contact-title hr 
 {
  border: none;
  font-weight: 120px;
  height: 5px;
  background-color: salmon;
  border-radius: 10px;
  margin-bottom: 20px;

 }

 .contact-inputs 
 {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;

 }

 .contact-left textarea 
 {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;

 }


 .contact-inputs:focus
 {  
   border: 2px solid #ff994f;

 }

 .contact-inputs::placeholder {

  color: #a9a9a9;
 }

 .contact-left button {

  display: flex;
  align-items: center;
  padding: 15px  30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background:linear-gradient(270deg,#ff994f,#fa6d86);
  cursor:pointer;
 }

 .contact-left button img 
 {
   height: 15px;
 }

 

.footer
{
  background:linear-gradient(270deg,#ff994f,#fa6d86); 
}

/* TYPE WRITER EFFECT */
  

.message-box {
  width: 100%; /* set the width of the message box to 100% */
}

.textarea {
  width: 100%; /* set the width of the textarea to 100% */
  box-sizing: border-box; /* include padding and border in the width calculation */
  resize: vertical; /* allow the textarea to be resized vertically only */
}